@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@700&display=swap");
*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

#logo {
  text-decoration: none;
  padding: 0.5rem; }
  #logo .big {
    font-size: 4em;
    font-weight: bold;
    color: darkred;
    font-family: 'Anybody',cursive; }
  #logo .cam {
    font-size: 4em;
    font-weight: bold;
    color: darkorange;
    font-family: 'Anybody',cursive; }

.navbr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: darkorange;
  height: 4rem;
  align-items: center;
  list-style: none; }
  .navbr a {
    text-decoration: none;
    font-size: 2em;
    font-family: 'Anybody', cursive;
    color: black; }
    .navbr a:hover {
      color: white;
      transition: all 0.3s; }
  .navbr .sub_menu {
    position: absolute;
    list-style: none;
    background-color: darkorange;
    display: none; }
    .navbr .sub_menu a {
      display: block;
      padding: 0.3rem; }
  .navbr li:hover .sub_menu {
    display: block; }
