@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #647067; }

#logo {
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s; }
  #logo:hover {
    font-size: 1.5em;
    transition: all 0.3s; }
  #logo .big {
    font-size: 4em;
    font-weight: bold;
    color: #d9f363;
    font-family: 'Anybody',cursive; }
  #logo .cam {
    font-size: 4em;
    font-weight: bold;
    color: yellow;
    font-family: 'Anybody',cursive; }

.navbr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: yellow;
  height: 4rem;
  align-items: center;
  list-style: none; }
  .navbr a {
    text-decoration: none;
    font-size: 2em;
    font-family: 'Anybody', cursive;
    color: black;
    transition: all 0.3s; }
    .navbr a:hover {
      color: white;
      transition: all 0.3s;
      font-size: 2.5em; }
  .navbr .sub_menu {
    display: block;
    border-radius: 10px;
    position: absolute;
    list-style: none;
    background-color: yellow;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s; }
    .navbr .sub_menu li {
      padding: 0.5rem; }
  .navbr li:hover .sub_menu {
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: yellow; }
