#servicios{
    background-color: rgb(148, 150, 147);
}
#camaras{
    background-color: crimson;
}
#sobre_nosotros{
    background-color: rgb(255, 196, 0);
}
#contacto{
    background-color: rgb(83, 0, 139);
}

.seccion{
    width: 100%;
    height: 100vh; 
    position: relative;
}

h1{
    text-align:center;
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Anybody', cursive;
    font-weight: bold;    
    position: absolute;
    bottom: 0;       
    width: 100%;  
}


